/**
 * External dependencies
 */
import { createPluginInstance, triggerEvent, getPluginInstance } from '@storepress/utils'

/**
 * Internal dependencies
 */
import { Plugin } from './Plugin'

export default function StorePressPlugin () {
  const StorePressPlugin = {
    createInstance (element, options) {
      return createPluginInstance(element, options, Plugin)
    },

    getInstance (element) {
      return getPluginInstance(element)
    },

    init ($selector, options) {
      for (const { element, reset } of this.createInstance($selector, options)) {
        element.addEventListener('destroy', reset)
      }
    },

    destroy ($selector) {
      for (const { destroy } of this.getInstance($selector)) {
        destroy()
      }
    },

    reload ($selector, options) {
      this.destroy($selector)
      this.init($selector, options)
    },
  }

  document.addEventListener('storepress_plugin_init', (event) => {

    const defaultSettings = {}
    const settings = { ...defaultSettings, ...event.detail?.settings }
    const element = event.detail?.element

    if (Array.isArray(element)) {
      for (const el of element) {
        StorePressPlugin.init(el, settings)
      }
    } else {
      StorePressPlugin.init(element, settings)
    }
  }, { passive: true })

  document.addEventListener('storepress_plugin_destroy', (event) => {

    const element = event.detail?.element

    if (Array.isArray(element)) {
      for (const el of element) {
        StorePressPlugin.destroy(el)
      }
    } else {
      StorePressPlugin.destroy(element)
    }

  }, { passive: true })

  document.addEventListener('storepress_plugin_reload', (event) => {
    const defaultSettings = {}
    const settings = { ...defaultSettings, ...event.detail?.settings }
    const element = event.detail?.element

    if (Array.isArray(element)) {
      for (const el of element) {
        StorePressPlugin.reload(el, settings)
      }
    } else {
      StorePressPlugin.reload(element, settings)
    }
  }, { passive: true })
}

document.addEventListener('DOMContentLoaded', () => {
  StorePressPlugin()
  triggerEvent(document, 'storepress_plugin_init', {
    element: ['[data-plugin-settings]'],
    settings: {},
  })
})