/**
 * External dependencies
 */
import { createStorePressPlugin } from '@storepress/utils';

/**
 * Internal dependencies
 */
import { Plugin } from './Plugin';

const {{pascaleSlug}} = createStorePressPlugin( {
	selector: '[data-{{kebabSlug}}]',
	options: {},
	plugin: Plugin,
	namespace: '{{pascaleSlug}}',
} );

{{pascaleSlug}}.setup();

export default {{pascaleSlug}};