const [
		  defaultJSConfig,
		  defaultModuleConfig,
	  ]                                            = require('@wordpress/scripts/config/webpack.config');
const {
		  requestToExternal,
		  requestToHandle,
		  requestToExternalModule,
		  getFile,
		  getRootFile,
		  getWebPackAlias,
	  }                                            = require('./webpack-helpers');
const WoocommerceDependencyExtractionWebpackPlugin = require('@woocommerce/dependency-extraction-webpack-plugin');
const DependencyExtractionWebpackPlugin            = require('@wordpress/dependency-extraction-webpack-plugin');
const RemoveEmptyScriptsPlugin                     = require('webpack-remove-empty-scripts');
const webpack                                      = require('webpack');

// Helper to route files to the correct directory

const getOutputFilename = (pathData) => {

	const condition = (pathData.chunk.name.startsWith('wp-') || pathData.chunk.name.startsWith('react-'))

	return condition
		? `externals/scripts/[name].js`
		: '[name].js';
};

const getOutputFilenameAsModule = (pathData) => {

	const condition = (pathData.chunk.name.startsWith('wp-') || pathData.chunk.name.startsWith('react-'))

	return condition
		? `externals/modules/[name].js`
		: '[name].js';
};

const scriptConfig = {
	...defaultJSConfig,
	entry : {
		'wp-element'        : {
			import  : '@wordpress/element',
			library : {
				name : ['wp', 'element'],
				type : 'window'
			}
		},
		'react-jsx-runtime' : {
			import  : 'react/jsx-runtime',
			library : {
				name : ['ReactJSXRuntime'],
				type : 'window',
			}
		},
	},

	output : {
		...defaultJSConfig.output,
		filename : getOutputFilename,
	},

	resolve : {
		...defaultJSConfig.resolve,
		alias : {
			...defaultJSConfig.resolve.alias,
			...getWebPackAlias(),
		},
	},

	plugins : [
		...defaultJSConfig.plugins,
		...defaultJSConfig.plugins.filter(
			(plugin) =>
				plugin.constructor.name !== 'DependencyExtractionWebpackPlugin'
		),
		new webpack.optimize.LimitChunkCountPlugin({maxChunks : 1}),
	],
};

const moduleConfig = {
	...defaultModuleConfig,
	entry : {
		// ...defaultModuleConfig.entry(),
		// 'custom-module': getFile( 'custom-module.js' ),
		/*'storepress-utils-module': {
			import: '@storepress/utils/build-module/index.js',
			library: {
				type: 'module',
			},
		}*/

		'wp-interactivity' : {
			import  : '@wordpress/interactivity',
			library : {
				type : 'module'
			}
		},
	},

	output : {
		...defaultModuleConfig.output,
		filename : getOutputFilenameAsModule,
	},

	resolve : {
		...defaultModuleConfig.resolve,
		alias : {
			...defaultModuleConfig.resolve.alias,
			...getWebPackAlias(),
		},
	},

	plugins : [
		...defaultModuleConfig.plugins,

		...defaultModuleConfig.plugins.filter(
			(plugin) =>
				plugin.constructor.name !== 'DependencyExtractionWebpackPlugin'
		),

		new webpack.optimize.LimitChunkCountPlugin({maxChunks : 1}),

		// Removes the empty `.js` files generated by webpack but
		// sets it after WP has generated its `*.asset.php` file.
		new RemoveEmptyScriptsPlugin({
			stage : RemoveEmptyScriptsPlugin.STAGE_AFTER_PROCESS_PLUGINS,
		}),
	],
};

module.exports = [scriptConfig, moduleConfig];
