# Simple workflow for deploying static content to GitHub Pages
name: Deploy to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: {{ GITHUB_PAGE_URL }}
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Setup Node"
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'

      - name: "Install and Build"
        run: npm install && npm run package --if-present

      - name: "Make Plain Package name"
        run: echo "PLAIN_PACKAGE_NAME=$(node -p -e "require('./package.json').name.replace(/^@/, '').replace('/', '-').toLowerCase()")" >> $GITHUB_ENV

      - name: "Upload Page Contents"
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./{{ PLAIN_PACKAGE_NAME }}

      - name: "Deploy to GitHub Pages"
        id: deployment
        uses: actions/deploy-pages@v4