<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	<link rel="stylesheet" href="./build/style-plugin.css" />
	<link rel="stylesheet" href="./style.css" />
</head>

<body>

<div class="wrapper">
	<div data-plugin-settings="{'greet': 'Hello'}">Hello ( Check Browser Console )</div>
</div>

<script src="./build/storepress-utils.js"></script>
<script src="./build/plugin.js"></script>
</body>
</html>